# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Local database files
*.db
*.sqlite3

# Vector Database (ChromaDB)
chroma_db/

# Static files - User Uploads
# It's often better to not track user-uploaded content in git
static/uploads/

# Environment variables
.env

# IDE / Editor specific
.idea/
.vscode/
*.swp